fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1  # pin: passlib no soporta bcrypt>=4.1
python-dotenv
pydantic[email]
pydantic-settings
python-multipart
fastapi-mail
slowapi

# testing
pytest
pytest-asyncio
httpx
